@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
nav {
  padding-top: 2.5rem;
  height: 4rem;
  width: 100%;
  text-transform: uppercase; }
  nav .navbar__hamburger-btn {
    font-size: 3rem;
    color: black;
    float: right;
    line-height: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }
  nav .navbar__logo {
    line-height: 4rem;
    margin-left: 3rem; }
  nav ul {
    float: right;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0; }
    nav ul li {
      display: inline-block;
      line-height: 4rem;
      margin: 0 1rem; }
      nav ul li a {
        color: white;
        font-size: 0.8rem;
        padding: .5rem 0.8rem;
        border-radius: 0.2rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: .2rem;
        text-decoration: none; }
      nav ul li a:hover {
        background: white;
        transition: .2s;
        color: black; }

@media (max-width: 768px) {
  nav {
    background: white; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .navbar__hamburger-btn {
      display: block; }
    nav .navbar__logo {
      font-size: 2rem;
      padding-left: 1rem; }
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fafafa;
      top: 4rem;
      left: -100%;
      text-align: center;
      transition: all 0.8s;
      margin-right: 0px;
      padding-left: 0px; }
      nav ul li {
        display: block;
        margin: 5rem 0;
        line-height: 30px;
        width: 100%; }
        nav ul li a {
          font-size: 2rem;
          color: black; }
        nav ul li a:hover,
        nav ul li a.active {
          background: #325eff;
          transition: 0.2s; } }
.hero {
  overflow: hidden;
  background: linear-gradient(to right, rgba(5, 117, 230, 0.3), rgba(2, 27, 121, 0.3)), url("../img/paisajefrio.jpg");
  width: 100%;
  height: 80%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .hero header {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column; }
    .hero header .hero__header_container-components {
      margin-top: -9.37rem;
      text-align: center; }
    .hero header .hero__header-main-title {
      font-size: 6.25rem;
      font-family: 'Roboto', sans-serif;
      color: white;
      margin: 0 auto; }
    .hero header .hero__header-paragraph {
      text-align: center;
      color: #fff;
      font-size: 1rem;
      letter-spacing: .1rem; }
      .hero header .hero__header-paragraph .header_paragraph {
        font-family: 'Manrope', sans-serif;
        color: white; }
    .hero header .hero__header-container {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem 3rem;
      margin-top: 1.5rem; }
      .hero header .hero__header-container .btn:link,
      .hero header .hero__header-container .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 7rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-family: 'Manrope', sans-serif; }
      .hero header .hero__header-container .btn-white {
        background-color: #325eff;
        color: white; }
      .hero header .hero__header-container .btn:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .hero header .hero__header-container .btn:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .hero header .hero__header-container .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s; }
      .hero header .hero__header-container .btn-white::after {
        background-color: #325eff; }
      .hero header .hero__header-container .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
      .hero header .hero__header-container .btn-animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; }

.standard__section-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px; }
  .standard__section-row .standard__section-col {
    height: 38rem; }
    .standard__section-row .standard__section-col .standard__section-container {
      padding-right: 5rem;
      padding-left: 5rem;
      margin-top: 5rem;
      text-align: center; }
      .standard__section-row .standard__section-col .standard__section-container .standard__section-main-title {
        font-size: 3.25rem;
        font-family: 'Roboto', sans-serif;
        color: black;
        margin: 0 auto; }
      .standard__section-row .standard__section-col .standard__section-container .standard__section-header-paragraph {
        margin-top: 3rem;
        font-family: 'Manrope', sans-serif;
        color: grey; }
      .standard__section-row .standard__section-col .standard__section-container .standard__section-btn {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3rem;
        margin-top: 3rem;
        margin-bottom: 6rem; }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn:link,
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn:visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: 1.5rem 7rem;
          display: inline-block;
          border-radius: 10rem;
          transition: all .2s;
          position: relative;
          font-family: 'Manrope', sans-serif; }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn-white {
          background-color: #325eff;
          color: white; }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn:active {
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 10rem;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s; }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn-white::after {
          background-color: #325eff; }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
        .standard__section-row .standard__section-col .standard__section-container .standard__section-btn .btn-animated {
          animation: moveInBottom .5s ease-out .75s;
          animation-fill-mode: backwards; }
    .standard__section-row .standard__section-col .standard__section-container-image {
      overflow: hidden;
      background: url("../img/arte.jpg");
      width: 100%;
      height: 38rem;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }

@media (max-width: 768px) {
  .standard__section-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px; } }
@media (max-width: 485px) {
  .standard__section-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px; }
    .standard__section-row .standard__section-col .standard__section-container {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }
.services {
  height: auto;
  background: #fafafa; }
  .services .services__text-container {
    text-align: center;
    padding-top: 4rem; }
    .services .services__text-container h1 {
      margin: 0;
      font-size: 2.5rem;
      font-family: "Roboto", sans-serif; }
    .services .services__text-container p {
      font-family: "Manrope", sans-serif;
      color: grey; }
  .services .services__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    padding-top: 4rem; }
    .services .services__cards-container .services__card-col {
      height: auto;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in-out; }
      .services .services__cards-container .services__card-col .services__card {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        text-align: center;
        background: white;
        padding-top: 4rem;
        padding-bottom: 3.5rem;
        margin: 0 2rem; }
        .services .services__cards-container .services__card-col .services__card h3 {
          font-family: "Roboto", sans-serif; }
        .services .services__cards-container .services__card-col .services__card p {
          font-family: "Manrope", sans-serif;
          padding-right: 4rem;
          padding-left: 4rem; }
        .services .services__cards-container .services__card-col .services__card .services__card-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto;
          height: 5rem;
          background: #325eff;
          width: 5rem;
          border-radius: 50%; }
          .services .services__cards-container .services__card-col .services__card .services__card-icon .fas {
            font-size: 2rem;
            color: white; }
      .services .services__cards-container .services__card-col .services__card:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 768px) {
    .services .services__cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 8px;
      grid-row-gap: 0px; }
      .services .services__cards-container .services__card-col .services__card {
        margin: 1rem 2rem 0 2rem; } }
  @media (max-width: 485px) {
    .services .services__cards-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 8px;
      grid-row-gap: 0px; }
      .services .services__cards-container .standard__section-col .standard__section-container {
        padding-right: 1.5rem;
        padding-left: 1.5rem; } }
