nav {
  background: #fafafa;
  height: 4rem;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  nav .navbar__hamburger-btn {
    font-size: 3rem;
    color: black;
    float: right;
    line-height: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }
  nav .navbar__logo {
    line-height: 4rem;
    margin-left: 3rem; }
  nav ul {
    float: right;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0; }
    nav ul li {
      display: inline-block;
      line-height: 4rem;
      margin: 0 .9rem; }
      nav ul li a {
        color: white;
        font-size: 1rem;
        text-decoration: none;
        padding: .7rem 1rem;
        border-radius: 0.4rem;
        font-family: 'Questrial', sans-serif;
        letter-spacing: .2rem; }
      nav ul li a.active, nav ul li a:hover {
        background: #325eff;
        transition: .2s;
        color: white; }

@media (max-width: 768px) {
  nav {
    background: white; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .navbar__hamburger-btn {
      display: block; }
    nav .navbar__logo {
      font-size: 2rem;
      padding-left: 1rem; }
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fafafa;
      top: 4rem;
      left: -100%;
      text-align: center;
      transition: all .8s;
      margin-right: 0px;
      padding-left: 0px; }
      nav ul li {
        display: block;
        margin: 5rem 0;
        line-height: 30px;
        width: 100%; }
        nav ul li a {
          font-size: 2rem;
          color: black; }
        nav ul li a:hover, nav ul li a.active {
          background: #325eff;
          transition: .2s; } }
