@import "mixins";
nav{
    padding-top: 2.5rem;
    height: 4rem;
    width: 100%;       
    text-transform: uppercase;
    .navbar__hamburger-btn{
        font-size: 3rem;
        color: black;
        float: right;
        line-height: 4rem;
        margin-right: 2rem;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }
   
    .navbar__logo{
        line-height: 4rem;
        margin-left: 3rem;
    }

    ul{        
        float: right;
        margin-right: 1rem;
        margin-top: 0;
        margin-bottom: 0;

        li{
            display: inline-block;           
            line-height: 4rem;
            margin: 0 1rem;

            a{
                color: white;
                font-size: 0.8rem;
                padding: .5rem 0.8rem; 
                border-radius: 0.2rem;
                font-family: 'Questrial', sans-serif;  
                letter-spacing: .2rem;
                text-decoration: none;                
            }

            a:hover{
                background: white;
                transition: .2s;
                color: black;
            }
        } 
    }     
}
@include mediaQueryNavbar;