@mixin mediaQueryNavbar{
    @media (max-width: 768px) {
        nav{
            background: white;
            #check:checked ~ ul{
                left: 0;
            }
            .navbar__hamburger-btn{
                display: block; 
            }

            .navbar__logo{
                font-size: 2rem;
                padding-left: 1rem;
            }



            ul{
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #fafafa;
                top: 4rem;
                left: -100%;
                text-align:center;
                transition: all .8s;
                margin-right: 0px;
                padding-left: 0px;
               
               
                li{
                    display: block;
                   
                    margin: 5rem 0;
                    line-height: 30px;                        
                    width: 100%;

                    a{                        
                        font-size: 2rem;
                        color: black;
                    }
                    a:hover,a.active{  
                        background: #325eff;
                        transition: .2s;
                      
                    }
                }
            }
            
        }
    }
}

@mixin mediaQueryStandardSection {
    @media (max-width: 768px) {
        .standard__section-row {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 8px;
            grid-row-gap: 0px;
        
        }
    }

    @media (max-width: 485px) {
        .standard__section-row {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 8px;
            grid-row-gap: 0px; 
            .standard__section-col{
                .standard__section-container{
                    padding-right:1.5rem ;
                    padding-left:1.5rem ;
               
                }  
            }            
        }
    } 
    
}

